In [1]:
import pandas as pd

In [2]:
# Read in the Rotten Tomatoes bestofrt TSV file into a dataframe 
df = pd.read_csv('bestofrt.tsv', sep = '\t')

In [3]:
# Look at the first few rows of data 
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [15]:
from bs4 import BeautifulSoup
import os

In [10]:
with open('rt-html/rt_html/et_the_extraterrestrial.html') as file:
    soup = BeautifulSoup(file, 'lxml')

In [17]:
soup.find('title')
soup.find('audience_score')

In [12]:
soup.find('title').contents

['E.T. The Extra-Terrestrial\xa0(1982) - Rotten Tomatoes']

In [13]:
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

In [14]:
len(' - Rotten Tomatoes')

18

In [32]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt-html/rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        # Your code here
        # Note: a correct implementation may take ~15 seconds to run
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_ = 'audience-score meter').find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div', class_ = 'audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',', '')
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [33]:
df

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,The 39 Steps (1935),86,23647
2,The Adventures of Robin Hood (1938),89,33584
3,All About Eve (1950),94,44564
4,All Quiet on the Western Front (1930),89,17768
5,Casablanca (1942),95,355952
6,Frankenstein (1931),87,41140
7,King Kong (1933),86,89669
8,Laura (1944),91,10481
9,M (1931),95,35778
10,The Maltese Falcon (1941),91,57268
11,Metropolis (1927),92,62018
12,Rear Window (1954),95,149458
13,Rebecca (1940),92,39026
14,A Streetcar Named Desire (1951),90,54761
15,Touch of Evil (1958),92,30867
16,High Noon (1952),89,25065
17,Snow White and the Seven Dwarfs (1937),78,469510
18,12 Years a Slave (2013),90,138789
19,The 400 Blows (Les Quatre cents coups) (1959),94,38368
20,Alien (1979),94,457186
21,Apocalypse Now (1979),94,284606
22,Argo (2012),90,207373
23,Army of Shadows (L'ArmÃ©e des ombres) (1969),94,7011
24,Arrival (2016),82,78740
25,Baby Driver (2017),89,48114
26,Battleship Potemkin (1925),85,18709
27,A Hard Day's Night (1964),89,50067
28,Bicycle Thieves (Ladri di biciclette) (1949),94,33723
29,Boyhood (2014),81,88478
...,...,...,...
70,Selma (2015),86,60533
71,Seven Samurai (Shichinin no Samurai) (1956),97,90049
72,Singin' in the Rain (1952),95,137643
73,Skyfall (2012),86,372497
74,Spotlight (2015),93,68142
75,Star Trek (2009),91,746458
76,Star Wars: Episode VII - The Force Awakens (2015),89,222789
77,Sunset Boulevard (1950),95,52783
78,Taxi Driver (1976),93,258405
79,The Babadook (2014),72,37024
80,The Battle of Algiers (La Battaglia di Algeri)...,95,14267
81,The Big Sick (2017),90,23391
82,The Cabinet of Dr. Caligari (Das Cabinet des D...,89,27163
83,The Conformist (1970),91,8529
84,The Dark Knight (2008),94,1827436
85,"The Good, the Bad and the Ugly (1966)",97,238420
86,The Jungle Book (2016),86,92856
87,The Third Man (1949),93,53081
88,The Wizard of Oz (1939),89,874425
89,The Wrestler (2008),88,139795
90,Tokyo Story (TÃ´kyÃ´ monogatari) (1953),93,11325
91,Toy Story (1995),92,1107731
92,Toy Story 2 (1999),86,998186
93,Toy Story 3 (2010),89,605098
94,The Treasure of the Sierra Madre (1948),93,25627
95,Up (2009),90,1201878
96,Vertigo (1958),93,101454
97,The Wages of Fear (1953),95,8536
98,Wonder Woman (2017),90,112955
99,Zootopia (2016),92,98633